<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.DispatchingMapper">

	<!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.Dispatching">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="salesid" jdbcType="INTEGER" property="salesid"/>
        <result column="stockid" jdbcType="INTEGER" property="stockid"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="money" jdbcType="FLOAT" property="money"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="delflag" jdbcType="INTEGER" property="delflag"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="otherone" jdbcType="VARCHAR" property="otherone"/>
        <result column="othertwo" jdbcType="VARCHAR" property="othertwo"/>
        <result column="otherthree" jdbcType="VARCHAR" property="otherthree"/>
    </resultMap>
</mapper>
