<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.common.persistence.dao.SalesMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.common.persistence.model.Sales">
        <id column="salesno" jdbcType="VARCHAR" property="salesno"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="staffid" jdbcType="INTEGER" property="staffid"/>
        <result column="clientid" jdbcType="INTEGER" property="clientid"/>
        <result column="productid" jdbcType="INTEGER" property="productid"/>
        <result column="price" jdbcType="FLOAT" property="price"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
        <result column="delflag" jdbcType="INTEGER" property="delflag"/>
        <result column="dispatchingtime" jdbcType="TIMESTAMP" property="dispatchingtime"/>
        <result column="dispatchingtype" jdbcType="INTEGER" property="dispatchingtype"/>
        <result column="preferential" jdbcType="FLOAT" property="preferential"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="createtime" jdbcType="TIMESTAMP" property="createtime"/>
        <result column="updatetime" jdbcType="TIMESTAMP" property="updatetime"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        <result column="otherone" jdbcType="VARCHAR" property="otherone"/>
        <result column="othertwo" jdbcType="VARCHAR" property="othertwo"/>
        <result column="otherthree" jdbcType="VARCHAR" property="otherthree"/>
    </resultMap>
</mapper>
