@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="">

            <div class="row">
                <div class="col-sm-6 b-r">
					<#input id="salesNo" name="销售单号" value="${disp.salesno}" readonly="true" />
					<#input id="staffName" name="销售员" value="${disp.name}" readonly="true"/> 
					<#input id="needTime" name="需求时间" value="${disp.dispatchingtime}" readonly="true"/>
					<div class="fixed-table-container" id="salesTableTop">
						<div class="fixed-table-body">
							<table style="margin-bottom:0;" class="table table-hover table-striped" >
								<thead>
								<tr style="text-align: center;fout-size:25px;">
									<td colspan="4">销售产品清单</td>
								</tr>
								</thead>
								<thead style="height:30px;">
								<tr style="text-align: center;fout-size:25px;">
									<td style="width:20%;text-align: center; vertical-align: middle;">产品</td>
									<td style="width:10%;text-align: center; vertical-align: middle;">单价</td>
									<td style="width:10%;text-align: center; vertical-align: middle;">数量</td>
									<td style="width:30%;text-align: center; vertical-align: middle;">备注</td>
								</tr>
								</thead>
							</table>
						</div>
					</div>
					<div class="col-sm-12">
						@for(var i = 0; i < salesInfoes.~size;i++){
						<div class="form-group" style="margin-bottom:0;" name="salesInfoTable" id="salesInfoTable">
							<table name="SalesProductTable" id="SalesProductTable${i+1}" style="margin-bottom:0;border: 1px solid #e7eaec;" class="table table-hover table-striped" >
								<tbody>
									<tr data-index="0">
										<td style="width:20%;text-align: center; vertical-align: middle;">
											<select readonly="true" style="height: 30px;" name="productId">
												<option value="">请选择</option>
												@for(pro in productes){
												<option value="${pro.id}"${pro.id==salesInfoes[i].productid?'selected':''}>${pro.name}</option>
												@}
											</select>
										</td>
										<td style="width:10%;text-align: center; vertical-align: middle;"><input readonly="true" class="juj" name="price" value="${salesInfoes[i].price}"></td>
										<td style="width:10%;text-align: center; vertical-align: middle;"><input readonly="true" class="juj" name="numbers" value="${salesInfoes[i].counts}"></td>
										<td style="width:30%;text-align: center; vertical-align: middle;"><input readonly="true" class="juj" name="remarks" value="${salesInfoes[i].remarks}"></td>
									</tr>
								</tbody>
							</table>
				        </div>
						@}
					</div>
                </div>

                <div class="col-sm-6">
					<#input id="disoatchingNo" name="配送单号" value="${disp.disoatchingNo}" readonly="true" /> 
					<#select id="disStaffId" name="配送员">
						<option value="">请选择</option>
						@for(staff in staffes){
						<option value="${staff.id}">${staff.name}</option>
						@}
					</#select>
					<#input id="dispTime" name="配送日期" 
								clickFun="laydate({istime: false, format: 'YYYY-MM-DD'})"/>
					<div class="fixed-table-container" style="display:none;" id="dispTableTop">
						<div class="fixed-table-body">
							<table style="margin-bottom:0;" class="table table-hover table-striped" >
								<thead>
								<tr style="text-align: center;fout-size:25px;">
									<td colspan="5">配送产品清单</td>
								</tr>
								</thead>
								<thead style="height:30px;">
								<tr style="text-align: center;fout-size:25px;">
									<td style="width:10%;text-align: center; vertical-align: middle;">销售产品</td>
									<td style="width:10%;text-align: center; vertical-align: middle;">配送产品</td>
									<td style="width:10%;text-align: center; vertical-align: middle;">数量</td>
									<td style="width:25%;text-align: center; vertical-align: middle;">备注</td>
									<td style="width:25%;text-align: center; vertical-align: middle;"></td>
								</tr>
								</thead>
							</table>
						</div>
					</div>
					<div class="col-sm-12" id="itemsArea"></div>		
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                	<#button btnCss="info" name="添加产品清单" icon="fa-plus" clickFun="DispatchingInfoDlg.addItem()"/>
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="DispatchingInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="DispatchingInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/template" id="itemTemplate">
        <div class="form-group" style="margin-bottom:0;" name="dispInfoTable" id="dispInfoTable">
			<table name="ProductTable" id="ProductTable" style="margin-bottom:0;border: 1px solid #e7eaec;" class="table table-hover table-striped" >
				<tbody>
					<tr data-index="0">
						<td style="width:10%;text-align: center; vertical-align: middle;">
							<select style="height: 30px;" name="salesInfoId">
								<option value="">请选择</option>
								@for(pro in salesInfoes){
								<option value="${pro.productid}">${pro.productid}</option>
								@}
							</select>
						</td>
						<td style="width:10%;text-align: center; vertical-align: middle;">
							<select style="height: 30px;" name="productId">
								<option value="">请选择</option>
								@for(pro in productes){
								<option value="${pro.id}">${pro.name}</option>
								@}
							</select>
						</td>
						<td style="width:10%;text-align: center; vertical-align: middle;"><input class="juj" name="numbers"></td>
						<td style="width:25%;text-align: center; vertical-align: middle;"><input class="juj" name="remarks"></td>
						<td style="width:25%;text-align: center; vertical-align: middle;padding-bottom: 0;padding-top: 2px;">
                    		<#button btnCss="info"  name="添加" icon="fa-plus" clickFun="DispatchingInfoDlg.addItem()"/>
              		  		<#button btnCss="danger"  name="删除" id="cancel" icon="fa-remove" clickFun="DispatchingInfoDlg.deleteItem(event)"/>
						</td>
					</tr>
				</tbody>
			</table>
        </div>
</script>
<script src="${ctxPath}/static/modular/manage/dispatching/dispatching_info.js"></script>
@}
