@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <input type="hidden" id="id" value="${stock.id}">

            <div class="row">
                <div class="col-sm-6 b-r">
					<#select id="productid" name="产品">
						<option value = "">请选择</option>
						@for(pro in productes){
						<option value = "${pro.id}"${stock.productid==pro.id?'selected':''}>${pro.name}</option>
						@}
					</#select>
					<#input id="number" name="数量" value="${stock.number}"/>
					<#input id="otherone" name="备注" value="${stock.otherone}"/>
                </div>

            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="StockInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="StockInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/manage/stock/stock_info.js"></script>
@}
